/* .preview-image {
    width: 120px;
    height: 90Px;
    margin-top: 10px;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.image-preview {
    width: 120px;
    height: 90px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #eee;
} */